@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("./assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  backdrop-filter: blur(20px);
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
  align-items: center;
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #000000;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 0rem;
  width: 300px;
  color: #fff;
  background-color: #476440;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: #313f2d;
  color: #fff;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: none;
  padding: 0.50rem;
  cursor: pointer;
  margin-top: 5px;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #476440;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-top: 1rem;
  
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}
.btns{
  cursor: pointer;
}
.clear-btn{
  border-radius: 5px;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 50px;
  background-color: #313f2d;
  color: white;
}